:root {
	--header-color: #4aa3a3;
	--background-color: #87b5b5;
	--content-color: #c0d8d8;
	--text-color: #212529;
	--border-radius: 10px;
}

body {
	background: var(--background-color);
	padding: 1em;
}

.App {
  margin: 0 2em;
}

.Container {
	border: 1px solid black;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	margin: 0 auto;
}

.Container:first-of-type {
	width: 90%;
}

.Container-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--header-color);
	padding: 1em;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	font-weight: bolder;
	font-size: 20px;
}

.Container-title svg {
	padding-right: 10px;
}

.Container-icon {
	cursor: pointer;
}

.Container-body {
	background-color: var(--content-color);
	height: 100%;
	color: var(--text-color);
}

.Container-body textarea {
	width: 100%;
	max-width: fit-content;
	resize: vertical;
	box-sizing: border-box;
	background-color: var(--content-color);
	height: 100%;
}

.Container-body img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
	height: auto;
}

.active {
	min-height: 100vh;
	height: 100%;
}

.active textarea {
	min-height: 100vh;
}

.hidden {
	display: none;
}

pre, code {
	/* border: 1px solid grey; */
	background: white;
	padding: 5px;
}

#preview {
	padding: 1em;
}

blockquote {
	border-left: 2px solid var(--text-color);
	margin-left: 2em;
	padding-left: 0.7em;
	font-size: 20px;
	font-weight: 500;
}

table {
	border-collapse: collapse;
}

table, td, th {
	padding: 5px;
	border: 1px solid;
}

@media only screen and (min-width: 768px) {
	.App {
		margin: 0 auto;
		width: 90vw;
	}
	textarea {
		max-width: 60vw;
	}

	#preview {
		max-width: 80vw;
	}
}